*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: aquamarine;
    width: 600px;
    margin: 0px auto;
}

h1{
    background-color: black;
    font-size: 22px;
}

.sonoputin{
    color: red;
    background-color: blue;
    text-align: center;
}